<%- include('./partial/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="collg-12 mt-5 ">
                <form action="/student/update/<%= dat._id %>" method="post">
                    <div class="mb-3">
                        <label for="text" class="form-label text-white">Father's Name</label>
                        <input type="text" class="form-control" required name="Father_name"
                            value="<%= dat.Father_name %>" />
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label text-white">Mobile Number</label>
                        <i class="fa-solid fa-phone"></i>
                        <input type="text" class="form-control" required name="phone" value="<%= dat.phone %>" />
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label text-white">Roll-Number</label>
                        <input type="text" class="form-control" required name="RollNumber"
                            value="<%= dat.RollNumber %>" />
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label text-white">Name</label>
                        <input type="text" class="form-control" required name="Student_name"
                            value="<%= dat.Student_name %>" />
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label text-white">Birthday:</label>
                        <input type="text" class="form-control" required name="dob" value="<%= dat.dob %>">
                    </div>
                    <button type="submit" class="btn btn-color">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('./partial/footer.ejs') %>